body{
	overflow-x: hidden;
}
.head{
	color: #ff7700;
	 font-size: 40px;
	 
}

.navbar-brand a:hover {
	text-decoration: none;
}
.panel-footer{
	background-color: pink;
	margin-top: 20px;
}

.slide{
	height: 500px;
}